.inputContainer{
    background:none;
}
.inputbox {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    border-radius: 6px;
    color: rgb(12, 15, 13);
    border:1px solid rgb(100, 100, 100)  ;
    cursor:text;
    /* -webkit-text-fill-color:rgb(0, 0, 0); */
    caret-color: #525050;
    background:none;
    height:38px ;

}
.Gbutton{
    width:80px;
}
.Grow{
    margin-top: 8px;
}

