
.appName{
    font-weight:700;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    font-family:cursive;
    color: rgb(24, 71, 129);
    -webkit-text-stroke:2px;
    /*
    background: rgb(195,67,185);
    background: linear-gradient(0deg, rgb(0, 141, 160) 0%, rgb(193, 173, 207) 100%);
    -webkit-text-stroke-color:transparent;
    -webkit-background-clip: text;  
    background-clip: text; */
   
}
