.Gbutton{
    width:80px;
}
.item_Container{
    margin-top: 30px;
    background: none;
}
.taskContainer{
    margin-left:5% ;
    width:75.1%;
    align-items: center;
    text-align: center;
    color:black;
    background:rgba(5, 7, 95, 0.17);
    border: 1px solid rgb(179, 179, 179);
    border-radius:10px;
}
.value_Container{
    padding-top: 6px;
    text-align:center;
    padding-left: 30px;
}
.nameContainer{
    background: none;
    height: 100%;
    color:rgb(0, 0, 0);
    border-right:1px solid rgb(179, 179, 179) ;
}
.dateContainer{
    background:none;
    color:rgb(0, 0, 0);
    border-color: rgb(9, 11, 11);
}
.buttonContainer{
    float:right;
    background: none;
}